
*{
    margin: 0;
    padding: 0;
    font-family: "quicksand";
    box-sizing: border-box;
}

html, body{
    width: 100%;
    height: 100%;
}

#main{
    width: 100%;
    height: 100vh;
}

#back{
    width: 100%;
    height: 100vh;
}

#back img{
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

#front{
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}

#workingarea{
    position: relative;
    margin: 0 auto;
    width: 80%;
    height: 100vh;
    max-width: 1920px;
}

#nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-top: 35px;
}

#nav h1{
    padding: 21px;
    font-weight: 1000;
    font-size: 45px;
}

#nright a{
    pointer-events: all;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 21px;
    font-weight: 570;
}

#me{
    transform: translate(0%, -50%);
    position: absolute;
    top: 50%;
    left: 0%;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#meleft{
    min-width: 50%;
}

#meleft .name{
    position: relative;
    height: 9vw;
    overflow: hidden;
}

#meleft .name h1:nth-child(1){
    top: 0;
}

#meleft .name h1{
    position: absolute;
    top: 100%;
    left: 0;
    line-height: 0.9;
    font-family: "kajiro";
    letter-spacing: 7px;
    font-weight: 100;
    font-size: 11vw;
    color: white;
}

#meleft .surname{
    position: relative;
    height: 9vw;
    overflow: hidden;
}

#meleft .surname h1:nth-child(1){
    top: 0;
}

#meleft .surname h1{
    position: absolute;
    top: 100%;
    left: 0;
    line-height: 0.9;
    font-family: "kajiro";
    letter-spacing: 7px;
    font-weight: 100;
    font-size: 11vw;
    color: white;
}

#meright{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 21%;
    color: white;
}

#meright p{
    text-align: right;
    font-size: 15px;
    font-weight: 600;
}