@font-face {
    font-family: quicksand;
    src: url(./Quicksand-Regular.woff2);
}

@font-face {
    font-family: kajiro;
    src: url(./Kajiro\ Bold.woff2);
}

*{
    margin: 0;
    padding: 0;
    font-family: "quicksand";
    box-sizing: border-box;
}

html, body{
    overflow: hidden;
    width: 100%;
    height: 100%;
}

#main{
    width: 100%;
    height: 100vh;
}

#back{
    width: 100%;
    height: 100vh;
}

#back img{
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

#front{
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}

#workingarea{
    position: relative;
    margin: 0 auto;
    width: 80%;
    height: 100vh;
    max-width: 1920px;
}

#me{
    transform: translate(0%, -50%);
    position: absolute;
    top: 50%;
    left: 0%;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#meleft{
    min-width: 50%;
}

#meleft .name{
    position: relative;
    height: 9vw;
    overflow: hidden;
}

#meleft .name h1:nth-child(1){
    top: 0;
}

#meleft .name h1{
    position: absolute;
    top: 100%;
    left: 0;
    line-height: 0.9;
    font-family: "kajiro";
    letter-spacing: 7px;
    font-weight: 100;
    font-size: 11vw;
    color: white;
}

#meleft .surname{
    position: relative;
    height: 9vw;
    overflow: hidden;
}

#meleft .surname h1:nth-child(1){
    top: 0;
}

#meleft .surname h1{
    position: absolute;
    top: 100%;
    left: 0;
    line-height: 0.9;
    font-family: "kajiro";
    letter-spacing: 7px;
    font-weight: 100;
    font-size: 11vw;
    color: white;
}

#meright{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 21%;
    color: white;
}

#meright p{
    text-align: right;
    font-size: 15px;
    font-weight: 600;
}

#meleft a{
    font-family: kajiro;
    position: absolute;
    pointer-events: all;
    text-decoration: none;
    color: black;
    font-size: 60px;
    background-color: white;
    border-radius: 5px;
    padding-top: 10px;
    padding-left: 38px;
    padding-right: 38px;
    padding-bottom: 5px;
}